.editable-field {
  border: 1px solid blue;
  padding: 10px;
  margin: 5px;
  background-color: grey;
  transition: background-color 200ms linear;
  &__edit-toggle {
    color: blue;
  }
  &--externally-updated {
    background-color: blue;
  }
  .transition-fade-enter {
    transform: translateY(100px);
    transition: transform 200ms linear;
    &&-active {
      transform: translateY(0);
    }
  }

  .transition-fade-leave {
    transform: translateY(0px);
    transition: transform 200ms linear;
    &&-active {
      transform: translateY(-100px);
    }
  }
  &--locally-updated {
    .transition-fade-enter {
      transform: translateY(0);
      transition: transform 200ms linear;
      &&-active {
        transform: translateY(0);
      }
    }

    .transition-fade-leave {
      transform: translateY(0px);
      transition: transform 200ms linear;
      &&-active {
        transform: translateY(0px);
      }
    }
  }
}

.editable-field-static-container {
  position: relative;
  overflow: hidden;
  height: 30px;
}

.editable-field-static {
  position: absolute;
  height: 100%;
  width: 100%;
}
