.bugs-container {
  margin: 20px auto;
  .bugs-table-container {
    margin: 0 20px;
  }
  .bugs-table {
    table-layout: fixed;
    border-collapse: collapse;
  }
  .bugs-table-header-row {
    background-color: grey;
  }
  .bugs-table-header {
    border: 1px solid green;
  }
  .bugs-table-row {

  }
  .bugs-table-cell {
    border: 1px solid green;
  }
  .bugs-container-header {
    text-align: center;
  }
}
