@import "npm://@nerdwallet/react-button/button";
@import "npm://@nerdwallet/react-input/input";
@import "npm://@nerdwallet/greg-slider/src/slider.less";

input {
  width: 300px;
}
.password-requirements {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 16px;
  .feedback-header {
    line-height: 24px;
    color: @darkestgrey;
  }
  .feedback {
    line-height: 24px;
    display: block;
    color: @darkergrey;
    .ss-check {
      display: none;
    }
    &.valid {
      color: @green;
      .ss-check {
        display: inline-block;
        width: 15px;
        height: 15px;
        position: absolute;
        margin-left: -15px;
        margin-top: 1px;
      }
    }
  }
}
